@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(225, 225, 225, 0.6);
}

body {
  background-color: #141414 !important;
  min-height: 100vh;
  width: 100%;
}

.contaner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 5px 9px;
}

main {
  width: 450px;
  min-height: 100vh;
  background: url("https://play31.atmhtml5games.com/content/themes/arcade-two/images/background.png") no-repeat center center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  background-color: rgb(56 42 63);
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hover {
  transition: all 0.3s;
  cursor: pointer;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text {
  text-align: -webkit-right;
}

.sconde_nav li {
  margin-top: 13px;
}

.sconde_nav li a {
  font-size: 16px;
  font-weight: 300;
  transition: all 0.4s;
}

.sconde_nav li a:hover {
  color: rgba(225, 225, 225, 0.6);
}

.search {
  background-color: rgb(73 78 83);
  padding: 4px;
  border-radius: 20px;
}

.gameimg {
  transition: all 0.75s;
}

.gameimg:hover {
  opacity: 0.6;
}

.leftarrow,
.rightarrow {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50%;
  border: 1px solid #bdc0c1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 25px;
  z-index: 9999999;
}

.game_paly {
  background: #ffffff17;
  padding: 10px 18px 18px 18px;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.b-action {
  background: #ffffff17;
  padding: 15px 24px;
  color: #fff;
  border-radius: 40px;
  margin-left: 10px;
}

.hoverimg {
  text-wrap-mode: nowrap;
  transition: all 0, 50s;
}

.h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}

.p1 {
  color: rgba(225, 225, 225, 0.6);
  font-size: small;
  margin-bottom: 16px;
}

.Related {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.RPH {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RPP {
  color: #fff;
  font-weight: 400;
}

.border-line {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 20px;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.fa {
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: var(--bs-link-color);
  -webkit-font-smoothing: antialiased;
}

.ahover {
  position: absolute;
  color: white;
  font-weight: 400;
  left: 10px;
  font-size: 24px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.listgame {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  overflow: hidden;
  height: 190px;
  width: 110px;
}

.Comments {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: rgba(225, 225, 225, 0.6);
}

.textcolor {
  color: #e1e1e199;
  margin-top: 8px;
}